.color_1 {
	background-color: #d97148;
}
.color_2 {
	background-color: #b14cba;
}
.color_3 {
	background-color: #6d4cba;
}
.color_4 {
	background-color: #e3d732;
}
.color_5 {
	background-color: #658cdb;
}
.color_6 {
	background-color: #7a4e1b;
}
.color_7 {
	background-color: #c49b1f;
}
.color_8 {
	background-color: #2f7310;
}
.color_9 {
	background-color: #dba38c;
}
